<!DOCTYPE html>
<html>

<!--<link rel="stylesheet" type="text/css" href="animalfood\main.css">-->
    {% extends "base.html" %}
    {% block content %}

    <h3 class="title is-3">Enter your pet's details here, then click 'submit' to get results</h3>
            <form>
                <div class="container">
                    <div class="field">
                        <div class="control">
                            <label class="label">My pet is a:</label>
                            <div class="select is-primary">
                                <select>
                                <option>dog</option>
                                    <option>cat</option>
                                </select>
                            </div>
                        </div>
                    </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Age</label>
                            <div class="control">
                                <input class="input" type="number" name="age" placeholder="Age" value="{{ dog_age }}">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Weight</label>
                            <div class="control">
                                <input class="input" type="number" name="weight" placeholder="Weight" value="{{ dog_weight }}">
                            </div>
                        </div>
                    </div>
                </div>


<!--                <div class="field">-->
<!--                    <div class="control">-->
<!--                        <label class="checkbox">-->
<!--                            <input type="checkbox">-->
<!--                            I agree to the <a href="#">terms and conditions</a>-->
<!--                        </label>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="field">-->
<!--                    <div class="control">-->
<!--                        <label class="radio">-->
<!--                            <input type="radio" name="question">-->
<!--                            Yes-->
<!--                        </label>-->
<!--                        <label class="radio">-->
<!--                            <input type="radio" name="question">-->
<!--                            No-->
<!--                        </label>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="field is-grouped">
                    <div class="control">
                        <input type="submit" class="button is-link" value="Submit">
                    </div>
                    <div class="control">
                        <button class="button is-link is-light">Clear</button>
                    </div>
                </div>

            </form>


            <section class="section">
                <div class="container">

                    <strong>Your pet should eat:</strong>
                    {% for line in data %}

                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="{{ line.image_url }}">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>{{ line.food_name }}</strong>
                                    <br>
                                    <strong>For ages:</strong> {{ line.min_age }} - {{line.max_age }}
                                    <br>
                                    <strong>For weights:</strong> {{ line.min_weight }} - {{line.max_weight }} kg
                                    <br>
                                    <strong>Description:</strong> {{line.description }}
                                    <br>
                                    <strong>Price range:</strong> {{ line.price_range }}
                                    <br>
                                    <strong>Purchase link: <a href= {{ line.purchase_link }} target="_blank">Shop Amazon</a></strong>
                                </p>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <a class="level-item">
                                        <span class="icon is-small"><i class="fas fa-reply"></i></span>
                                    </a>
                                    <a class="level-item">
                                        <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                                    </a>
                                    <a class="level-item">
                                        <span class="icon is-small"><i class="fas fa-heart"></i></span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                        <div class="media-right">
                        </div>
                    </article>


                    {% endfor %}

                </div>
            </section>
        </div>


    {% endblock %}
</html>